    Описание в: 'doc/w1_05_titanic-assignment.pdf'

In [1]:
import pandas as pd

In [2]:
def save_answer(name, value):
    with open('data/titanic-assignment_' + name + '.txt', 'w', encoding='utf-8') as f:
        f.write(value)

In [3]:
PATH_TO_DATA = 'data/titanic.csv'

In [4]:
df = pd.read_csv(PATH_TO_DATA)

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1.Какое количество мужчин и женщин ехало на корабле? В качестве
ответа приведите два числа через пробел

In [6]:
men = df.Sex.value_counts().male
women = df.Sex.value_counts().female

f'{men} {women}'

'577 314'

In [7]:
save_answer('1', f'{men} {women}')

2.Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [8]:
round(df['Survived'].mean()*100, 2)

38.38

In [9]:
save_answer('2', str(round(df['Survived'].mean()*100, 2)))

3.Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [10]:
round(df['Pclass'].value_counts(normalize=True)[1]*100, 2)

24.239999999999998

In [11]:
save_answer('3', str(round(df['Pclass'].value_counts(normalize=True)[1]*100, 2)))

4.Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [12]:
age_mean = df['Age'].mean()
age_median = int(df['Age'].median())

f'{age_mean:.2f} {age_median}'

'29.70 28'

In [13]:
save_answer('4', f'{age_mean:.2f} {age_median}')

5.Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [14]:
round(df['SibSp'].corr(df['Parch']), 2)

0.40999999999999998

In [15]:
save_answer('5', str(round(df['SibSp'].corr(df['Parch']), 2)))

Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [16]:
for el in df[df['Sex']=='female']['Name'].str.split(','):
    value = el[1].strip()
    print(value)
    if ('Mrs.' in value)&('(' in value):
        print('\t', value.split('(')[1].strip().split(' ')[0].strip())
    else:
        print('\t', el[1].strip().split(' ')[1])

Mrs. John Bradley (Florence Briggs Thayer)
	 Florence
Miss. Laina
	 Laina
Mrs. Jacques Heath (Lily May Peel)
	 Lily
Mrs. Oscar W (Elisabeth Vilhelmina Berg)
	 Elisabeth
Mrs. Nicholas (Adele Achem)
	 Adele
Miss. Marguerite Rut
	 Marguerite
Miss. Elizabeth
	 Elizabeth
Miss. Hulda Amanda Adolfina
	 Hulda
Mrs. (Mary D Kingcome)
	 Mary
Mrs. Julius (Emelia Maria Vandemoortele)
	 Emelia
Mrs. Fatima
	 Fatima
Miss. Anna "Annie"
	 Anna
Miss. Torborg Danira
	 Torborg
Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
	 Selma
Miss. Ellen "Nellie"
	 Ellen
Mrs. William Augustus (Marie Eugenie)
	 Marie
Miss. Mary Agatha
	 Mary
Miss. Augusta Maria
	 Augusta
Miss. Jamila
	 Jamila
Mrs. Johan (Johanna Persdotter Larsson)
	 Johanna
Mrs. William John Robert (Dorothy Ann Wonnacott)
	 Dorothy
Miss. Simonne Marie Anne Andree
	 Simonne
Miss. Margaret Delia
	 Margaret
Miss. Bridget
	 Bridget
Mrs. Josef (Josefine Franchi)
	 Josefine
Mrs. Henry Sleeper (Myna Haxtun)
	 Myna
Mrs. Lizzie (Elizabeth Anne Wilkinson)
	 Elizabeth
Miss. Emily
	 Emily
Miss. Constance Mirium
	 Constance
Miss. Amelie
	 Amelie
Mrs. (Elizabeth Ramell)
	 Elizabeth
Miss. Erna Alexandra
	 Erna
Miss. Lillian Amy
	 Lillian
Miss. Elizabeth
	 Elizabeth
Miss. Brigdet Delia
	 Brigdet
Miss. Bertha
	 Bertha
Mrs. Karl Alfred (Maria Mathilda Gustafsson)
	 Maria
Miss. Mabel Helen
	 Mabel
Mrs. John T (Ada Julia Bone)
	 Ada
Miss. Matilda
	 Matilda
Miss. Anna Kristine
	 Anna
Miss. Bertha
	 Bertha
Miss. Hileni
	 Hileni
Miss. Katriina
	 Katriina
Miss. Malake
	 Malake
Miss. Ellis Anna Maria
	 Ellis
Miss. Susan
	 Susan
Miss. Anna
	 Anna
Mrs. Alexander A (Grace Charity Laury)
	 Grace
Mrs. Leopold (Mathilde Francoise Pede)
	 Mathilde
Miss. Helen Monypeny
	 Helen
Mrs. Joseph (Sultana)
	 Sultana)
Miss. Anna Sofia
	 Anna
Mrs. Pekka Pietari (Elin Matilda Dolck)
	 Elin
Miss. Robina Maggie "Ruby"
	 Robina
Mrs. Thomas (Edith Wearne)
	 Edith
Miss. Katherine "Katie"
	 Katherine
Mrs. James (Elizabeth "Bessie" Inglis Milne)
	 Elizabeth
Mrs. (Edith Martha Bowerman)
	 Edith
Mrs. William (Anna Bernhardina Karlsson)
	 Anna
Miss. Eleanor Ileen
	 Eleanor
Miss. Ann Elizabeth
	 Ann
Miss. Constance Gladys
	 Constance
Miss. Luise Gretchen
	 Luise
Mrs. Thomas (Johanna "Hannah" Godfrey)
	 Johanna
Mrs. (Rosa)
	 Rosa)
Miss. Carla Christine Nielsine
	 Carla
Mrs. James Joseph (Margaret Tobin)
	 Margaret
Miss. Elise
	 Elise
Miss. Margaret "Maggie"
	 Margaret
Miss. Henriette ("Mrs Harbeck")
	 Henriette
Miss. Telma Matilda
	 Telma
Miss. Helen "Ellen"
	 Helen
Miss. Clear Annie
	 Clear
Miss. Madeleine
	 Madeleine
Miss. Eliina
	 Eliina
Miss. Albina
	 Albina
Miss. Mathilde
	 Mathilde
Mrs. Henry Birkhardt (Irene Wallach)
	 Irene
Miss. Lillian Gertrud
	 Lillian
Miss. Alice Phoebe
	 Alice
Miss. Marjorie "Lottie"
	 Marjorie
Miss. Thamine
	 Thamine
Miss. Katherine "Kate"
	 Katherine
Miss. Agda Thorilda Viktoria
	 Agda
Mrs. William (Anna)
	 Anna)
Mrs. Wilhelm (Elna Matilda Persson)
	 Elna
Mrs. Viktor (Helena Wilhelmina)
	 Helena
Mrs. Darwis (Hanne Youssef Razi)
	 Hanne
Mrs. Gertrude Maybelle
	 Gertrude
Miss. Gladys
	 Gladys
Miss. Anna
	 Anna
Mrs. (Lutie Davis)
	 Lutie
Miss. Delia
	 Delia
Mrs. William Thompson (Edith Junkins)
	 Edith
Miss. Amelia
	 Amelia
Mrs. (Elizabeth Anne Maidment)
	 Elizabeth
Miss. Hanora "Nora"
	 Hanora
Miss. Kornelia Theodosia
	 Kornelia
Miss. Augusta Charlotta
	 Augusta
Mrs. Stanton (Rosa Hunt)
	 Rosa
Miss. Kate
	 Kate
Miss. Ellen "Nellie"
	 Ellen
Mrs. Dickinson H (Helen Walton)
	 Helen
Miss. Aloisia
	 Aloisia
Miss. Helen Loraine
	 Helen
Mrs. James (Helene DeLaudeniere Chaput)
	 Helene
Miss. Anna Katherine "Annie Kate"
	 Anna
Miss. Nora A
	 Nora
Miss. Margaret
	 Margaret
Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
	 Maria
Miss. Laura Mabel
	 Laura
Miss. Margaret Bechstein
	 Margaret
Miss. Emily Borie
	 Emily
Mrs. William (Anna Sylfven)
	 Anna
Miss. Helmina Josefina
	 Helmina
Mrs. Sinai (Miriam Sternin)
	 Miriam
Miss. Mary Natalie
	 Mary
Mrs. Frederic Oakley (Margaretta Corning Stone)
	 Margaretta
Miss. Hilda Mary
	 Hilda
Mrs. Albert Francis (Sylvia Mae Harbaugh)
	 Sylvia
Miss. Marie Grice
	 Marie
Mrs. (Ada E Hall)
	 Ada
Mrs. Frank John (Emily Alice Brown)
	 Emily
Miss. Jean Gertrude
	 Jean
Miss. Agnes
	 Agnes
Mrs. Henry William (Clara Heinsheimer)
	 Clara
Miss. Elizabeth Margaret
	 Elizabeth
Miss. Alice Elizabeth
	 Alice
Miss. Amelia "Mildred"
	 Amelia
Miss. Marion Elsie
	 Marion
Mrs. Thomas Henry (Mary E Finck)
	 Mary
Miss. Elsie Edith
	 Elsie
Miss. Annie Clemmer
	 Annie
Miss. Mary
	 Mary
Miss. Helen Mary "Ellie"
	 Helen
Mrs. (Catherine David)
	 Catherine
Mrs. Frank Manley (Anna Sophia Atkinson)
	 Anna
Mrs. (Mantoura Boulos)
	 Mantoura
Miss. Annie
	 Annie
Mme. Leontine Pauline
	 Leontine
Miss. Stina Viola
	 Stina
Mrs. Edgar Joseph (Leila Saks)
	 Leila
Miss. Aurora Adelia
	 Aurora
Miss. Rosalie
	 Rosalie
Miss. Maria ("Mary")
	 Maria
Mrs. Alexander Oskar (Mary Aline Towner)
	 Mary
Miss. Kate
	 Kate
Miss. Bertha
	 Bertha
Miss. Marjorie
	 Marjorie
Mrs. Hjalmar (Agnes Charlotta Bengtsson)
	 Agnes
Miss. Elina
	 Elina
Mrs. William H (Jessie L)
	 Jessie
Miss. Mari Aina
	 Mari
Miss. Marija
	 Marija
Miss. Ida
	 Ida
Miss. Daisy E
	 Daisy
Mrs. Thomas (Annie Louise Rowley)
	 Annie
Mrs. James Vivian (Lulu Thorne Christian)
	 Lulu
Miss. Lyyli Karoliina
	 Lyyli
Miss. Catharina
	 Catharina
Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
	 Anna
Mrs. Charles V (Ada Maria Winfield)
	 Ada
Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
	 Kate
Mrs. Percival (Florence Kate White)
	 Florence
Mrs. Charles Alexander (Alice Adelaide Slow)
	 Alice
Miss. Lucile Polk
	 Lucile
Miss. Doolina Margaret "Daisy"
	 Doolina
Mrs. Sidney (Emily Hocking)
	 Emily
Mrs. Benjamin (Esther Ada Bloomfield)
	 Esther
Ms. Encarnacion
	 Encarnacion
Miss. Madeleine Violet
	 Madeleine
Miss. Marie Catherine
	 Marie
Mrs. Frederick R (Marion)
	 Marion)
Miss. Ellen
	 Ellen
Miss. Helene Barbara
	 Helene
Mrs. Edwy Arthur (Ada Mary Worth)
	 Ada
Mrs. Amin S (Marie Marthe Thuillard)
	 Marie
Miss. Ida Sofia
	 Ida
Miss. Hildur E
	 Hildur
Mrs. (Hedwig)
	 Hedwig)
Miss. Jeannie
	 Jeannie
Mrs. Frederick Maxfield (Jane Anne Forby)
	 Jane
Miss. Elizabeth Mussey
	 Elizabeth
Mrs. Hudson J C (Bessie Waldo Daniels)
	 Bessie
Miss. Mary
	 Mary
Miss. Bridget Mary
	 Bridget
Miss. Kristina Sofia
	 Kristina
Miss. Roberta
	 Roberta
Mrs. Frederick Charles (Jane Richards)
	 Jane
Mrs. Martin (Elizabeth L. Barrett)
	 Elizabeth
Mrs. (Amelia Milley)
	 Amelia
Mrs. William A (Florence "Mary" Agnes Hughes)
	 Florence
Miss. Anne
	 Anne
Mrs. Louis Albert (Ida Sophia Fischer)
	 Ida
Miss. Lucy
	 Lucy
Miss. Phyllis May
	 Phyllis
Mrs. Catherine (Catherine Rizk)
	 Catherine
Miss. Marija
	 Marija
Miss. Eva Miriam
	 Eva
Miss. Bertha
	 Bertha
Miss. Hedwig Margaritha
	 Hedwig
Miss. Harriet R
	 Harriet
Miss. Ingeborg Constanzia
	 Ingeborg
Miss. Sigrid Elisabeth
	 Sigrid
Mrs. Edward (Ethel Clarke)
	 Ethel
Miss. Velin
	 Velin
Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
	 (Lucille
Mrs. Emil (Tillie Mandelbaum)
	 Tillie
Mrs. Guillaume Joseph (Emma)
	 Emma)
Miss. (Marion Ogden)
	 (Marion
Mrs. Nils (Alma Cornelia Berglund)
	 Alma
Mrs. Edward Dale (Charlotte Lamson)
	 Charlotte
Miss. Mary
	 Mary
Miss. Ethel
	 Ethel
Mrs. William Baird (Alice Munger)
	 Alice
Mrs. Joseph (Maria Elias)
	 Maria
Miss. Julie Rachel
	 Julie
Mrs. John Borland (Marian Longstreth Morris)
	 Marian
Miss. Ruth
	 Ruth
Mrs. Walter Bertram (Martha Eustis)
	 Martha
Miss. Mary
	 Mary
Miss. Jessie Wills
	 Jessie
Mrs. Sidney Samuel (Amy Frances Christy)
	 Amy
Mrs. Joseph (Juliette Marie Louise Lafargue)
	 Juliette
Miss. Elizabeth W
	 Elizabeth
Mrs. Anders Johan (Alfrida Konstantia Brogren)
	 Alfrida
Miss. Margaret Jane
	 Margaret
Miss. Alice
	 Alice
Mrs. William Arthur (Cordelia K Stanlick)
	 Cordelia
Miss. Marion Louise
	 Marion
Miss. Gretchen Fiske
	 Gretchen
Miss. Mabel
	 Mabel
Miss. Mary
	 Mary
Mrs. Juha (Maria Emilia Ojala)
	 Maria
Mlle. Emma
	 Emma
Miss. Margit Elizabeth
	 Margit
Miss. Eugenie
	 Eugenie
Miss. Amy Zillah Elsie
	 Amy
Miss. Elsie
	 Elsie
Miss. Hanora "Norah"
	 Hanora
Miss. Hanora "Nora"
	 Hanora
Mrs. John (Catherine)
	 Catherine)
Mrs. Elmer Zebley (Juliet Cummins Wright)
	 Juliet
Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
	 Elizabeth
Miss. Anna Sofia
	 Anna
Mrs. Frederick (Augusta Tyler)
	 Augusta
Miss. Katie
	 Katie
Miss. Georgette Alexandra
	 Georgette
Miss. Manca
	 Manca
Miss. Katherine "Katie"
	 Katherine
Mrs. John Jacob (Madeleine Talmadge Force)
	 Madeleine
Miss. Saiide
	 Saiide
Mrs. Florence "Fannie"
	 Florence
Miss. Alice
	 Alice
Mlle. Berthe Antonine ("Mrs de Villiers")
	 Berthe
Miss. Caroline Louise
	 Caroline
Miss. Edwina Celia "Winnie"
	 Edwina
Miss. Annie Jessie "Nina"
	 Annie
Mrs. Peter Henry (Lillian Jefferys)
	 Lillian
Miss. Margareth
	 Margareth
Miss. Pieta Sofia
	 Pieta
Miss. Elisabeth Walton
	 Elisabeth
Mrs. Edward (Margaret Ann Watson)
	 Margaret
Miss. Susan Parker "Suzette"
	 Susan
Miss. Anna
	 Anna
Miss. Joan
	 Joan
Mrs. Samuel (Jane Laver)
	 Jane
the Countess. of (Lucy Noel Martha Dyer-Edwards)
	 Countess.
Mrs. William Ernest (Lucile Polk)
	 Lucile
Mrs. John C (Anna Andrews)
	 Anna
Miss. Mary
	 Mary
Mrs. (Mary)
	 Mary)
Mrs. Elizabeth (Eliza Needs)
	 Eliza
Miss. Virginia Ethel
	 Virginia
Mrs. Edward Scott (Elisabeth Walton McMillan)
	 Elisabeth
Miss. Banoura
	 Banoura
Mrs. Albert Adrian (Vera Gillespie)
	 Vera
Miss. Anna Sofia
	 Anna
Miss. Stella Anna
	 Stella
Dr. Alice (Farnham)
	 Alice
Mrs. Mara
	 Mara
Mrs. Jean Baptiste (Rosalie Paula Govaert)
	 Rosalie
Mrs. Harvey (Charlotte Annie Tate)
	 Charlotte
Miss. Ellen Natalia
	 Ellen
Mrs. Norman Campbell (Bertha Griggs)
	 Bertha
Miss. Ebba Iris Alfrida
	 Ebba
Miss. Wendla Maria
	 Wendla
Mrs. Charles Melville (Clara Jennings Gregg)
	 Clara
Mrs. (Beila)
	 Beila)
Mrs. George Nelson (Martha Evelyn)
	 Martha
Mrs. Antoni (Selini Alexander)
	 Selini
Miss. Sara Rebecca
	 Sara
Miss. Augusta
	 Augusta
Mrs. Samuel L (Edwiga Grabowska)
	 Edwiga
Miss. Nourelain
	 Nourelain
Miss. Mary Conover
	 Mary
Mrs. Ernest Courtenay (Lilian Hughes)
	 Lilian
Mrs. Sam (Leah Rosen)
	 Leah
Mrs. George Dennick (Mary Hitchcock)
	 Mary
Mrs. Solomon (Latifa Qurban)
	 Latifa
Mrs. Frederick Joel (Margaret Welles Barron)
	 Margaret
Miss. Dorothy Edith "Dolly"
	 Dorothy
Mrs. (Karolina)
	 Karolina)
Miss. Asuncion
	 Asuncion
Mrs. Richard Leonard (Sallie Monypeny)
	 Sallie
Mrs. Samuel (Hannah Wizosky)
	 Hannah
Miss. Adele Kiamie "Jane"
	 Adele
Mrs. Thomas Jr (Lily Alexenia Wilson)
	 Lily
Mrs. William (Imanita Parrish Hall)
	 Imanita
Miss. Gerda Ulrika
	 Gerda
Mrs. William (Margaret Norton)
	 Margaret
Miss. Margaret Edith
	 Margaret
Miss. Catherine Helen "Carrie"
	 Catherine

In [17]:
def get_first_name(el):
    value = el.split(',')[1].strip()
    #print(value)
    if ('Mrs.' in value)&('(' in value):
        #print('\t', value.split('(')[1].strip().split(' ')[0].strip())
        return value.split('(')[1].strip().split(' ')[0].strip()
    else:
        #print('\t', el.split(',')[1].strip().split(' ')[1])
        return el.split(',')[1].strip().split(' ')[1]

In [18]:
df['First Name'] = df.Name.apply(get_first_name)

In [19]:
df[df.Sex=='female']['First Name'].value_counts().nlargest(1).index[0]

'Anna'

In [20]:
save_answer('6', df[df.Sex=='female']['First Name'].value_counts().nlargest(1).index[0])