Описание в: 'doc/w1_09_statement-importance.pdf'

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
def save_answer(name, value):
    with open('data/statement-importance_' + name + '.txt', 'w') as f:
        f.write(value)

In [3]:
sex_map = {'male': 1, 'female': 0}

In [4]:
df = pd.read_csv('data/titanic2.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.Sex = df.Sex.map(sex_map)

In [7]:
X = df[['Age', 'Sex', 'Fare', 'Pclass']]
X = X.dropna()
y = df['Survived'][X.index.values]

In [8]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X.values, y.values)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен)

In [9]:
clf.feature_importances_

array([ 0.2560461 ,  0.30051221,  0.30343647,  0.14000522])

In [10]:
' '.join(pd.Series(clf.feature_importances_, index=X.columns).nlargest(2).index)

'Fare Sex'

In [11]:
save_answer('1', ' '.join(pd.Series(clf.feature_importances_, index=X.columns).nlargest(2).index))